.filtersbarContainer {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  border-top: 1px solid var(--border-gray);
  border-bottom: 1px solid var(--border-gray);
  background-color: white
}

@media screen and (max-width: 768px) {
  .filtersbarContainer {
    padding: 10px;
  }
  
}

.filterLeftContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}
.filterLeftContainer h3{
  display: none;
}

@media screen and (min-width: 768px) {
  .filterLeftContainer h3{
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: var(--text-gray);
  }
  
}

.sortingContainer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: fit-content;
}
.sortingOptionsContainer {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  min-width: 200px;
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: var(--shadow);
  z-index: 10;
  background-color: white;
  padding: 10px 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.174);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.sortingOption {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  cursor: pointer;
  text-align: right;
  transition: background-color 0.2s ease-in-out;
}
.sortingOption:hover {
  background-color: var(--border-gray);
}

.active {
  font-weight: 700;
}

.filterToggleButton{
  text-wrap: nowrap;
  font-size: 14px;
}
@media  screen and (min-width) {
  .filterToggleButton{
    font-size: 20px;
  }
}
.divider{
  height: 20px;
  width: 1px;
  background-color: #b3b3b3;
}
@media screen and (min-width: 768px) {
  .divider {
    display: none;
  }
  
}
.sortingButton{
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .sortingButton {
    font-size: 14px;
    padding: 0.5rem;
  }
  
}