.productsContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

/* @media screen and (max-width: 480px) {
  .productsContainer {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    justify-items: end;

  }
  
} */
