@import url(https://db.onlinewebfonts.com/c/ca671f001f1c1ac07ba12ef439e7e65a?family=Simplon+Norm);

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-primary: #252020;
  --text-muted: #888792;
  --border-gray: #e5e5e5;
  --icon-primary: #292d32;
  --brick-red: #eb4c6b;
}

body {
  font-family: "Simplon Norm";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
